.modal {
  position: fixed;
  top: 2%;
  left: 5%;
  z-index: 1050;
  width: 90%;
  margin-left: 0px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}


.modal-body {
position: relative;
max-height: 650px;
padding: 15px;
overflow-y: auto;
}
.modal.fade.in {
top: 0;
}
.img {
width: auto 9;
height: auto;
max-width: 100%;
max-height: 100%;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}