<div class="row-fluid" id="firstrow">
	<ul class="thumbnails">
		{{#each storys}}
		<li class="span3">
			<div class="thumbnail">
				<img data-src="holder.js/300x200" alt="" src="{{this.picUrl}}" class="img-rounded" id="{{this.id}}">
				<p>{{this.title}}</p>
				<h3>{{this.category}}</h3>
			</div>
		</li>
		{{/each}}    	
	</ul>
</div>